In [145]:
from sklearn import datasets
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB

In [122]:
df=pd.read_csv("E:\\DSE\\supervised\\Classification\\bank.csv")

In [123]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [125]:
for i in df.drop('deposit',axis=1).columns: # Loop through all columns in the dataframe
    if df[i].dtype == 'object': # Only apply for columns with categorical strings
        df[i] = pd.Categorical(df[i]).codes # Replace strings with an integer

In [151]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,0,1,1,0,2343,1,0,2,5,8,1042,1,-1,0,3,yes
1,56,0,1,1,0,45,0,0,2,5,8,1467,1,-1,0,3,yes
2,41,9,1,1,0,1270,1,0,2,5,8,1389,1,-1,0,3,yes
3,55,7,1,1,0,2476,1,0,2,5,8,579,1,-1,0,3,yes
4,54,0,1,2,0,184,0,0,2,5,8,673,2,-1,0,3,yes

In [128]:
scaler = MinMaxScaler()
scaler.fit(df.drop('deposit',axis=1))

MinMaxScaler(copy=True, feature_range=(0, 1))

In [129]:
dfmin=pd.DataFrame(scaler.transform(df.drop('deposit',axis=1)),columns=df.drop('deposit',axis=1).columns)

In [130]:
dfmin.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,0.532468,0.000000,0.5,0.333333,0.0,0.104371,1.0,0.0,1.0,0.133333,0.727273,0.268110,0.000000,0.0,0.0,1.0
1,0.493506,0.000000,0.5,0.333333,0.0,0.078273,0.0,0.0,1.0,0.133333,0.727273,0.377675,0.000000,0.0,0.0,1.0
2,0.298701,0.818182,0.5,0.333333,0.0,0.092185,1.0,0.0,1.0,0.133333,0.727273,0.357566,0.000000,0.0,0.0,1.0
3,0.480519,0.636364,0.5,0.333333,0.0,0.105882,1.0,0.0,1.0,0.133333,0.727273,0.148750,0.000000,0.0,0.0,1.0
4,0.467532,0.000000,0.5,0.666667,0.0,0.079851,0.0,0.0,1.0,0.133333,0.727273,0.172983,0.016129,0.0,0.0,1.0

In [132]:
x=dfmin
y=df['deposit']

In [133]:
X_train, X_test, y_train, y_test= train_test_split(x, y, test_size=0.3,random_state=7)

### DT

In [134]:
model = DecisionTreeClassifier(criterion="gini")
model.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [135]:
y_pred=model.predict(X_test)

In [136]:
accuracy_score(y_pred,y_test)

0.7754553598088981

### KNN

In [137]:
NNH = KNeighborsClassifier(n_neighbors= 7 , weights = 'uniform', metric='euclidean')

In [138]:
NNH.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='euclidean',
           metric_params=None, n_jobs=1, n_neighbors=7, p=2,
           weights='uniform')

In [139]:
knn_pred=NNH.predict(X_test)

In [140]:
accuracy_score(knn_pred,y_test)

0.7211107793371155

### RF

In [141]:
rfc = RandomForestClassifier(n_estimators=100, max_depth=11,random_state=0)

In [142]:
rfc.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=11, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [143]:
rf_pred=rfc.predict(X_test)

In [144]:
accuracy_score(rf_pred,y_test)

0.8468199462526127

### GNB

In [146]:
model = GaussianNB()
model.fit(X_train, y_train)

GaussianNB(priors=None)

In [149]:
nb_pred=model.predict(X_test)

In [150]:
accuracy_score(nb_pred,y_test)

0.7476858763810093

In [153]:
nb_pred

array(['no', 'no', 'yes', ..., 'yes', 'no', 'yes'], dtype='<U3')